body {
    background-image: url('images/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(99, 11, 208, 0.4);;
    padding: 10px;
}

.image-hover {
    text-align: center;
}

.image-hover img {
    /* width: 300px; */
    width: 80%;
    opacity: 0;
}

.image-hover img:hover {
    opacity: 1;
}

header {
    position: sticky;
    top: 0;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    padding: 10px;
    background-image: linear-gradient(140deg, #d167b0 0%, #d6ca41 75%, #EADEDB 100%);
}

nav {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

section {
    background-color: rgba(117, 108, 113, 0.4);
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px 10px;
}

section ul {
    width: 80%;
}


h2 {
    font-family: 'Righteous', cursive;
    padding: 5px;
    text-align: center;
    background-color:  rgba(201, 201, 22, 0.7);
}

h3 {
    font-family: 'Sofadi One', cursive;
}

mark {
    background-color: rgba(255, 0, 4, 0.6);
    color: white;
}

footer {
    font-family: 'Fontdiner Swanky', cursive;
    text-align: center;
    border-style: dashed double none;
}

nav ul{
    list-style-type: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media (min-width: 900px) {
    .wrapper {
            width: 750px;
        }
}